@font-face {
    font-family: 'HomeVideo';
    src: url('/Portfolio/fonts/HomeVideo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


* { 
    margin: 0;
    padding: 0;
}

body{
    font-family: 'HomeVideo';
    color: #fff;    
    font-size: 18px;
    background: #000;
    max-width: 390px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    margin: 0 auto;
}

button {
    all: unset;
    font-size: 16px;
    background: #BB1417;
    border-bottom: 5px;
    padding: 8px 16px;
    position: relative;
    top: -8px;
}

a:visited {
    color: white;
}

.font {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
}

.font h1 {
    font-size: 32px;
    width: 213px;
    line-height: 1,2;
}

.font p {
    width: 163px;
    line-height: 1.4;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav .container {
    display: flex; 
    flex-direction: column;
    text-align: center;
}

nav .block {
    width: 100px;
    height: 100px;
    background: #6A6A6A;
    display: flex; /* Включаем Flexbox */
    flex-direction: column; /* Размещаем элементы по вертикали (колонкой) */
    align-items: center; /* Центрируем элементы по горизонтали */
    justify-content: center; /* Центрируем элементы по вертикали */
}

.container p {
    margin-top: 10px;
}

.graf {
    background: #fff;
    color:#000;
    display: flex;
    align-items: center; /* Центрируем элементы по горизонтали */
    justify-content: space-between;
    font-size: 12px;
    height: 157px;
}

.graf .container {
    display: flex; /* Включаем Flexbox */
    flex-direction: column; /* Размещаем элементы по вертикали (колонкой) */
    align-items: center; /* Центрируем элементы по горизонтали */
    justify-content: center; /* Центрируем элементы по вертикали */
}

.graf .block {
    width: 350px;
    height: auto;
    padding: 20px;
}

.graf h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    width: 182px;
    line-height: 1.2;
}

footer {
    display: flex;
    padding: 20px;
    max-width: 390px;
}
footer h4 {
    font-size: 12px;
    line-height: 1.2;
    padding-top: 50px;
}

footer img {
    padding-left: 30px;
}
